.top {
   display: flex
}

.rec1 {
   background-color: #c4ecf4;
   height: 10vh; 
   width: 20%; 
}
.rec2 {
   background-color: #94d4dc;
   height: 10vh; 
   width: 80%; 
   display: flex;
   justify-content: flex-end;
   align-items: center; 
}

.cajab {
   height: 2.7vh; 
   width:11vw;
   background-color: white;
   margin: 20px; /*es porque la class tiene el mismo nombre y le pongo un margen dee distancia para q no quede pegadpd*/
}

.cajar{
   height: 2.7vh;
   width: 5.5vw;
   background-color: #f48464;
   margin: 15px;
}

.medio1{
   display: flex;
}

.izquierda{
   display: flex;
   flex-direction: column; /*esto hace q todo lo de la clase se vaya para abajo */
   justify-content: center;
   width: 25%;
}

.cuadradogris{
   height: 35vh;
   width: 35vh;
   background-color: rgb(235, 231, 231);
   display: flex;
   justify-content: center;
   align-items: center; /*esto hace q se centre en el medio */
   margin-bottom: 20px;
   margin-left: 50px;
   margin-top: 50px;
}

.cuadradooscuro{
   height: 18vh;
   width: 18vh;
   background-color: rgb(211, 208, 208); 
}

.textonormal{
   height: 1vh;
   width: 22vh;
   background-color: rgb(211, 208, 208);  
   margin-left: 95px;
   margin-top: 11px;  
}

.recgris{
   height: 3vh;
   width: 14vh;
   background-color: rgb(73, 73, 73);
   margin-left: 125px;
   margin-top: 10px;  
   display: flex;
   justify-content: center;
   align-items: center;
}

.textrec{
   height: 0.7vh;
   width: 7vh;
   background-color: #cccccc;
}


.derecha{ /*aca empieza lo q seria el carrusel ese de texto */
   width: 75%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}


.parrafoentero{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 40px;
   margin-right: 40px;
}

.titulo{
   height: 1.8vh;
   width: 30vh;
   background-color: #4A4E58;
}

.LINEA{
   height: 0.7vh;
   width: 80vh;
   background-color: #cccccc;
   margin-top: 12px;
}

.LINEApetit{
   height: 0.7vh;
   width: 40vh;
   background-color: #cccccc;
   margin-left: 130px;
   margin-top: 12px;
}

.flechaizq{
   width: 0px;
   height: 0px;
   border-top: 25px solid transparent;
   border-right: 50px solid rgb(211, 208, 208);
   border-bottom: 25px solid transparent;
   margin-top: 175px;
}


.flechader{
   width: 0px;
   height: 0px;
   border-top: 25px solid transparent;
   border-left: 50px solid rgb(211, 208, 208);
   border-bottom: 25px solid transparent;
   margin-top: 175px;
}



.medio2{ /*aca empieza la parte de lo que serian todas las fotos*/
   display: flex;
}


.fotitos{
   display: flex;
   flex-direction: column;
}


.filaarriba{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 50px; 
   margin-left: 50px; 
}
.cuadradogrisoscuro{
   height: 35vh;
   width: 35vh;
   background-color: #4A4E58;
}


.cuadradoceleste{
   height: 35vh;
   width: 35vh;
   background-color: #94d4dc;
   margin-left: 50px; 
}


.filaabajo{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 50px; 
   margin-top: 50px;
}
.cuadradoamarillo{
   height: 35vh;
   width: 35vh;
   background-color: #e7e297;
}


.cuadradogrisclaro{
   height: 35vh;
   width: 35vh;
   background-color: rgb(211, 208, 208);
   margin-left: 50px; 
}


.cuadradogrande{
   height: 77vh;
   width: 77vh;
   background-color: #c4ecf4;
   margin-left: 50px; 
   margin-top: 50px;
}


.columna{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 50px; 
   margin-top: 50px;
}
.cuadradoamarillo2{
   height: 35vh;
   width: 35vh;
   background-color: #e7e297;
}


.cuadradogrisoscuro2{
   height: 35vh;
   width: 35vh;
   background-color: #4A4E58;
   margin-top: 50px;
}




.bottom{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 50px;
}

.caja1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 60px;
}

.cuaderadomain{
   width: 13vh;
   height: 13vh;
   background-color: #4A4E58;
   margin-left: 7px;
}

.titulob{
   width: 15vh;
   height: 1vh;
   background-color: rgb(211, 208, 208);
   margin-top: 15px;
}

.renglon{
   margin-top: 8px;
   height: 0.5vh;
   width: 15vh;
   background-color: rgb(211, 208, 208);
}

.renglonchico{
   margin-top: 8px;
   height: 0.5vh;
   width: 8vh;
   background-color: rgb(211, 208, 208);
   margin-left: 27px;
}