.top {
   display: flex
}

.rec1 {
   background-color: #c4ecf4;
   height: 8vh; 
   width: 20vw; 
}
.rec2 {
   background-color: #94d4dc;
   height: 8vh; 
   width: 100%; 
   display: flex;
   justify-content: flex-end;
   align-items: center; 
}

.cajab {
   height: 2.2vh; 
   width:10vw;
   background-color: white;
   margin: 20px; /*es porque la class tiene el mismo nombre y le pongo un margen dee distancia para q no quede pegadpd*/
}

.cajar{
   height: 2vh;
   width: 5vw;
   background-color: #f48464;
   margin: 15px;
}

.medio1{
   display: flex;
   flex-direction: column; /*esto hace q todo lo de la clase se vaya para abajo */
   justify-content: center;
  
}

.cuadradogris{
   height: 27vh;
   width: 27vh;
   background-color: rgb(235, 231, 231);
   margin: 35px; 
   display: flex;
   justify-content: center;
   align-items: center; /*esto hace q se centre en el medio */
   margin-bottom: 20px;
}

.cuadradooscuro{
   height: 12vh;
   width: 12vh;
   background-color: rgb(211, 208, 208); 
}

.textonormal{
   height: 1vh;
   width: 22vh;
   background-color: rgb(211, 208, 208);  
   margin-left: 52px;
   margin-top: 10px;  
}